<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <a href="/"><h1>Recipe Finder</a></h1>
    <form action="/" method="post">
        <button type="submit" formaction="/random">Random Recipe</button>
    </form>

    <h1><%= title %></h1>
    <img class="image" src="<%= image %>" alt="">
    <h3><%= category %></h3>
    <h3><%= area %></h3>

    <ul>
        <% for (var i = 0; i < measureArray.length; i++) { %>
        <li><%= measureArray[i] %> <%= ingredientArray[i] %></li>
        <% } %>
    </ul>

    <ul>
        <% for (var i = 0; i < instructions.length; i++) { %>
        <li><%= instructions[i] %></li>
        <% } %>
    </ul>

    <a href="<%= source %>" target="_blank"><%= source %></a>
</body>

</html>